.image
{
    position: absolute;
    
}
.div1
{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    box-shadow: 5px 5px 2px grey;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    text-align: center;
    margin: auto;
    background-color: white;
    z-index: 1;
}
.span1
{
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin: auto;
    position: absolute;
    top: 300px;
    left: 678px;
}
.span2
{
    border: 2px solid red;
    box-shadow: 2px 2px 1px grey;
    border-radius: 10px;
    height: 50px;
    width: 350px;
    margin: auto;
    position: absolute;
    top: 360px;
    left: 590px;
}
.span3
{
    border: 2px solid red;
    border-radius: 20px;
    margin: auto;
    background-color: red;
    color: white;
    font-size: 30px;
    width: 100px;
    position: absolute;
    top: 430px;
    left: 720px;
}
