h1
{
    font-size: 45px;
    margin-top: 100px;
}
.image1
{
    height: 25px;
    width: 25px;
    border: 2px solid gray;
    border-radius: 50%;
}
a
{
    text-decoration: none;
    font-size: 35px;
    color: red;
}
div
{
    position: relative;
}
.list1
{
    font-size: 20px;
    color: red;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 20px;
    height: 300px;
    width: 260px;
    align-content: center;
    position: relative;
}
a
{
    text-decoration: none;
    color: blanchedalmond;
}
.comp
{
    color: crimson;
    text-decoration: line-through;
    font-size: 25px;
}
.pend
{
    padding: 18px;
    color: black;
}
.image2
{
    height: 25px;
    width: 25px;
}
.image3
{
    height: 25px;
    width: 25px;
    position: absolute;
    right: 620px;
    top: 265px;
}